CacheControl==0.12.5
cachetools==3.1.1
certifi==2019.9.11
chardet==3.0.4
Click==7.0
contextlib2==0.5.5
firebase-admin==3.0.0
Flask==1.1.1
google-api-core==1.14.2
google-api-python-client==1.7.11
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-cloud-core==1.0.3
google-cloud-firestore==1.4.0
google-cloud-storage==1.19.1
google-resumable-media==0.4.1
googleapis-common-protos==1.6.0
gunicorn==19.9.0
httplib2==0.13.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
msgpack==0.6.1
pony==0.7.10
protobuf==3.9.1
psycopg2-binary==2.8.3
pyasn1==0.4.7
pyasn1-modules==0.2.6
pytz==2019.2
requests==2.22.0
rsa==4.0
schema==0.7.1
six==1.12.0
uritemplate==3.0.0
urllib3==1.25.3
Werkzeug==0.15.6
